/* Your CSS code here. */
header{
	background-color:#e5e5e5;
	padding:20px;
}
.navbar {
	background-color: black;
	padding: 10px;
	color:white;
}
.navbar li a {
	color: white;
	font-weight: bold;
}
.main{
	background-color:#f5f5f5;
	padding:20px;	
}
.sidebar{
	background-color:lightgray;
	padding:20px;
}
.main-section{
	display:flex;
	flex-wrap:nowrap;
}https://www.svgrepo.com/show/345221/three-dots.svg
footer{
	background-color:#e5e5e5;
	padding:20px;
}